*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

a {
  text-decoration: none;
}

body {
  // background-color: rgb(245,245,245);
  font-size: 20px;
  font-family: "Noto Serif SC", serif;
}

header {
  margin-left: 30%;
  margin-right: 15%;
  padding: 2em;
  position: relative;
  .icon-lineleftclick {
    font-size: 1.5em;
    color: #ff777c;
    display: none;
  }
  & > a {
    color: #ff777c;
    font-size: 2em;
    font-family: "Dancing Script", cursive;

    span {
      font-size: 1em;
    }
  }

  & ul,
  li {
    display: inline-block;
    padding-left: 1em;
    color: #444;
    font-family: "Noto Serif SC", serif;

    a {
      color: #999;
    }

    a:hover {
      color: #ff777c;
    }
  }

  & ul {
    position: absolute;
    right: 2em;
    padding-top: 0.5em;
  }
}

.wrapper {
  display: flex;

  & .card {
    width: 15em;
    height: 28em;
    background-color: rgb(192, 223, 221);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: -4px 7px 15px 1px rgba(118, 95, 91, 0.34);
    margin-right: 3em;

    img {
      width: 8em;
      height: 8em;
      border: 1px solid gray;
      border-radius: 50%;
      margin: 2em 0;
    }

    h2 {
      padding: 0 0 1em 0;
    }

    div {
      background-color: #fff;
      width: 100%;
      height: 30%;
      justify-self: self-end;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 0;

      & a {
        font-family: "Noto Sans SC", sans-serif;
        text-align: center;
        font-size: 16px;
        width: 10em;
        height: 3em;
        line-height: 3em;
        border-radius: 3em;
        color: #fff;
        background-color: #000;
      }
    }
  }

  & main {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    margin: 0 auto;
    max-width: 50em;
    padding: 2em;
    flex: 1;
    box-shadow: 5px -2px 7px 1px rgba(118, 95, 91, 0.34);
    article {
      h1 {
        margin-bottom: 1em;
      }

      p {
        line-height: 1.7em;
      }
    }

    .introduce {
      margin: 2em 0;
      padding: 1em 0;
      border-top: 1px solid #e6e6e6;
      display: flex;
      flex-wrap: wrap;

      .personalInfo {
        flex: 1;

        .contactMe {
          display: none;
        }

        th {
          text-align: left;
        }

        td {
          padding: 0.3em;
          padding-left: 3.55em;

          a {
            color: #bbb;
          }
        }
      }

      .skills {
        width: 210px;
        height: 219px;
        margin-right: 3em;
      }
    }

    .line {
      border-top: 1px solid #e6e6e6;

      h1 {
        padding-top: 1em;
      }

      & > div {
        margin: 2em 0;

        h4 {
          margin-bottom: 1em;
        }
      }
    }

    .project {
      img {
        width: 100%;
        margin-bottom: 1em;
      }

      span {
        color: red;
        margin: 0;
        padding: 0;
      }

      p {
        line-height: 1.7em;
      }

      a {
        display: inline-block;
        width: 5em;
        text-align: center;
        line-height: 2em;
        border-radius: 2em;
        background-color: #ff777c;
        margin: 1em 2em;
        color: #fff;
        font-size: 0.7em;
      }

      .project-mini {
        .miniPro {
          position: relative;
          display: inline-block;

          #popover {
            border: 1px solid #e6e6e6;
            width: 20em;
            height: 20em;
            background-color: #fefefe;
            position: absolute;
            bottom: 3em;
            display: none;
            #miniProgram {
              width: 15em;
              height: 15em;
            }
            a {
              cursor: pointer !important;
            }

            &.show {
              display: block;
              transform: all 1s;
            }

            span,
            i {
              color: #000;
              position: absolute;
            }

            span {
              top: 0.8em;
              left: 1em;
            }

            img {
              display: block;
              position: absolute;
              bottom: 1em;
              left: 50%;
              transform: translateX(-50%);
              width: 5em;
              height: 5em;
            }

            i {
              top: 0.2em;
              right: 0.2em;
              font-size: 2em;
            }
          }
        }
      }
    }

    .contact {
      a {
        color: #ff777c;
      }
    }
  }

  & span {
    margin-left: 3em;
  }
}
